<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sanjeev Pratap ,Web Developer</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
      <div class="container">
    <div class="slidebar">
      
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/intro.html">My Intro</a></li>
          <li><a href="/sercices.html">Services</a></li>
          <li><a href="/cv.html">CV</a></li>
         
          <li><a href="/blog.html">Blog</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="main">
      
      <div class="infocontainer">
        <div class="devInfo">
          <div class="hello">Hi i am</div>
          <div class="name">Sanjeev pratap</div>
          <div class="about">Developer,Enterpreneur,Dancer</div>
          <div class="moreabout">I am a new made developer .Dancing and Enterpreneur both are my passionn.I know it seems to abiguie.But it is right.</div>
          <div class="buttons">
            <button>Download CV</button>
            <button>Contact me</button>
          </div>


        </div>
        <div class="devpic"><img src="i/st.jpg" alt="/static/snajeev pratap" srcset="" style="width: vh;"></div>
      </div>
    </div>
    
    </div>
  </body>
</html>
